<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>.def</string>
		<string>.mod</string>
	</array>
	<key>firstLineMatch</key>
	<string>^[:blank:]*(*!m2pim(+[a-z]+)?*).*</string>
	<key>keyEquivalent</key>
	<string>^~M</string>
	<key>name</key>
	<string>Modula-2 PIM</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>match</key>
			<string>\b(CASE|ELSE|ELSIF|EXIT|FOR|IF|LOOP|REPEAT|RETURN|THEN|UNTIL|WHILE)\b</string>
			<key>name</key>
			<string>keyword.control</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(AND|DIV|IN|MOD|NOT|OR)\b</string>
			<key>name</key>
			<string>keyword.operator</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(ARRAY|BEGIN|BY|CONST|DEFINITION|DO|END|EXPORT|FROM|IMPLEMENTATION|IMPORT|MODULE|OF|POINTER|PROCEDURE|QUALIFIED|RECORD|SET|TO|TYPE|VAR|WITH)\b</string>
			<key>name</key>
			<string>keyword.other</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b[0-7]{1,3}C\b</string>
			<key>name</key>
			<string>constant.numeric.character</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b[0-7]+B\b</string>
			<key>name</key>
			<string>constant.numeric.base8</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b[0-9]+(.[0-9]+([eE][+-]?[0-9]+)?)?\b</string>
			<key>name</key>
			<string>constant.numeric.base10</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b[0-9][0-9A-F]*H\b</string>
			<key>name</key>
			<string>constant.numeric.base16</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(FALSE|NIL|PROC|TRUE)\b</string>
			<key>name</key>
			<string>support.constant</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(BOOLEAN|BITSET|CARDINAL|CHAR|INTEGER|LONGINT|LONGREAL|REAL)\b</string>
			<key>name</key>
			<string>support.type</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(ABS|CAP|CHR|DEC|DISPOSE|EXCL|FLOAT|HALT|HIGH|INC|INCL|MAX|MIN|NEW|ODD|ORD|SIZE|TRUNC|VAL)\b</string>
			<key>name</key>
			<string>support.function</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(Storage|SYSTEM)\b</string>
			<key>name</key>
			<string>support.class</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(ADDRESS|PROCESS|WORD)\b</string>
			<key>name</key>
			<string>support.type.nonpervasive</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(ADR|ALLOCATE|DEALLOCATE|NEWPROCESS|TRANSFER|TSIZE)\b</string>
			<key>name</key>
			<string>support.function.nonpervasive</string>
		</dict>
		<dict>
			<key>match</key>
			<string>'[^']*'</string>
			<key>name</key>
			<string>string.quoted.single</string>
		</dict>
		<dict>
			<key>match</key>
			<string>"[^"]*"</string>
			<key>name</key>
			<string>string.quoted.double</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>\(\*!</string>
			<key>end</key>
			<string>\*\)</string>
			<key>name</key>
			<string>comment.block.dialecttag</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>\(\*\?</string>
			<key>end</key>
			<string>\*\)</string>
			<key>name</key>
			<string>comment.block.preprocessor</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>\(\*\$</string>
			<key>end</key>
			<string>\*\)</string>
			<key>name</key>
			<string>comment.block.pragma</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>\(\*[^!\?$]</string>
			<key>end</key>
			<string>\*\)</string>
			<key>name</key>
			<string>comment.block.untitled</string>
		</dict>
	</array>
	<key>scopeName</key>
	<string>source.modula2.pim</string>
	<key>uuid</key>
	<string>6E1C1D32-1EFD-4C4C-98AA-2B7956428804</string>
</dict>
</plist>
